body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    margin: 20px;
    color: #333;
}

#map {
    height: 80vh;
    width: 90%;
    margin: auto;
    border: 2px solid #333;
}
